@import "./responsive.scss";

.account-settings-title-container {
  margin-top: 54px;
  margin-left: 80px;
  margin-bottom: 69px;

  @include sm {
    margin-left: 50px;
  }
}

.account-settings-title {
  font-size: var(--heading-size-xl);
  color: var(--white);
  font-weight: var(--fw-bold);
}

.account-settings-container {
  background-color: var(--header);
}


.account-settings-profile-container {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 60px;
}

.account-settings-image {
  margin-top: 54px;
  margin-left: 80px;

  @include sm {
    margin-left: 25px;
  }
}

.account-settings-profile-picture-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-picture-title {
  font-size: var(--label-size-lg);
  margin-top: 35px;
  color: var(--white);
  font-weight: var(--fw-medium);
}

.file-format {
  font-size: var(--label-size-sm);
  color: var(--white);
  font-weight: var(--fw-regular);
}

input[type='file'] { 
  font-size: 0; 
}

::file-selector-button { 
  font-size: initial;
 
}

.change-profile-picture-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--majorelle-blue);
  color: var(--white);
  border-radius: 25px;
  width: 212px;
  height: 40px;
  font-size: var(--label-size-sm);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
}

.username-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;

  @include sm {
    flex-direction: column;
    margin-left: 50px;
    gap: 15px;
    align-items: flex-start;
    justify-content: center;
  }
}

.username-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.username {
  font-size: var(--label-size-sm);
  color: var(--white);
  font-weight: var(--fw-medium);
}

.change-username {
  font-size: var(--label-size-sm);
  color: var(--white);
  font-weight: var(--fw-regular);
}

.account-settings-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  width: 258px;
  height: 59px;
  border-radius: 25px;
  background-color: var(--majorelle-blue);
  color: var(--white);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  
}