@import "./responsive.scss";

.add-bank-container {
  background-color: var(--header);
  height: 100vh;
}

.add-bank-account-title-container {
  padding-top: 80px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;

  @include md {
    align-items: center;
    justify-content: center;
  }

  @include sm {
    margin-left: 40px;
  }
}


.add-bank-account-title {
  color: var(--white);
  font-size: var(--heading-size-lg);
  font-weight: var(--fw-medium);
}

.add-bank-account-description {
  color: var(--dark-grey);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-regular);
}

.add-bank-banks-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  margin-left: 80px;

  @include md {
    align-items: center;
    justify-content: center;
  }


  @include sm {
    margin-left: 50px;
  }
}


.add-bank-input  {
  width: 449px;
  height: 62px;
  background-color: var(--footer);
  color: var(--dark-grey);
  border-radius: 35px;
  padding: 20px;
  font-size: var(--label-size-lg);
  border: none;

  @include sm {
    width: 260px;
  }
}


.add-bank-button-container {
  margin-top: 30px;
  margin-left: 80px;
  display: flex;
  align-items: center;
  gap: 24px;

  @include md {
    align-items: center;
    justify-content: center;
  }


  @include sm {
    margin-left: 30px;
  }
}

.add-bank-back-button {
  width: 212px;
  height: 51px;
  border-radius: 35px;
  color: var(--majorelle-blue);
  border: 2px solid var(--majorelle-blue);
  background: transparent;
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
  
  @include sm {
    width: 150px;
    font-size: 15px;
  }
}

.add-bank-back-button:hover {
  background-color: var(--majorelle-blue);
  color: var(--white);
}

.add-bank-save-button {
  width: 212px;
  height: 51px;
  border-radius: 35px;
  border: none;
  background-color: var(--majorelle-blue);
  color: var(--white);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;

  @include sm {
    width: 150px;
    font-size: 15px;
  }
}


.add-bank-save-button:hover {
  border: 2px solid var(--majorelle-blue);
  color: var(--majorelle-blue);
  background: transparent;
}