@import "./responsive.scss";

.single-details-container {
  display: flex;
  gap: 76px;

  @include md {
    display: block;
  }
}

.details-left {
  @include md {
    display: none;
  }
}

.details-right {
  padding-top: 131px;
  color: var(--white);
  display: flex;
  flex-direction: column;

  @include md {
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include sm {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
  }
}

.details-date {
  font-size: var(paragraph-size-medium);
  font-weight: var(--fw-medium);
  padding-bottom: 20px;
}

.details-title {
  font-size: 48px;
  font-weight: var(--fw-bold);
  padding-bottom: 20px;

  @include sm {
    font-size: 35px;
  }
}

.event-details {
  display: flex;
  gap: 100px;
  padding-bottom: 40px;
}

.details-price {
  font-size: var(--paragraph-size-medium);
  font-weight: var(--fw-regular);
}

.event-details span:nth-child(2) {
  color: var(--majorelle-blue);
}

.details-page-button-container {
  text-align: start;
}

.details-register-button {
  width: 126px;
  height: 59px;
  border-radius: 50px;
  color: var(--white);
  font-size: var(--paragraph-size-medium);
  background-color: var(--majorelle-blue);
  cursor: pointer;
  border: none;
}

.details-register-button:hover {
  background: transparent;
  border: 2px solid var(--majorelle-blue);
}

.event-description-container {
  display: flex;
  gap: 165px;
  color: var(--white);
  padding-top: 134px;
  padding-left: 80px;
  padding-bottom: 75px;

  @include md {
    padding-top: 60px;
    padding-left: 50px;
  }

  @include sm {
    flex-direction: column;
    padding-left: 40px;
    padding-top: 60px;
    gap: 80px;
  }
}

.event-description-left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 15px;
}

.event-description-learn {
  font-size: 20px;
  font-weight: var(--fw-bold);
}

.event-description-right {
  display: flex;
  flex-direction: column;
  gap: 82px;
  font-size: 18px;
  font-weight: var(--fw-regular);
}

.event-description-date-time {
  display: flex;
  gap: 24px;
}

.calendar-icon {
  width: 48px;
  height: 48px;
  fill: var(--majorelle-blue);
}


.related-events-container {
  background-color: var(--header);
}

.related-events-title-container {
  padding-top: 54px;
  padding-left: 80px;
  padding-bottom: 50px;
}

.related-events-title {
  color: var(--white);
  font-size: var(--heading-size-lg);
  font-weight: var(--fw-bold);

  @include md {
    text-align: center;
  }

  @include sm {
    text-align: initial;
    padding-left: 24px;
  }
}

.related-event-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 80px;
  padding-right: 64px;
  padding-bottom: 40px;

  @include md {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-right: 0;
  }

  @include sm {
    display: flex;
    flex-direction: column;
  }
}

.related-events-button-container {
  text-align: center;
  padding-bottom: 54px;
}

.related-events-button-container button {
  width: 135px;
  height: 59px;
  color: var(--white);
  background-color: var(--majorelle-blue);
  border-radius: 50px;
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
  border: none;
}

.see-more-button:hover {
  background: transparent;
  border: 2px solid var(--majorelle-blue);
}