@import "./responsive.scss";

.event-table-container {
  color: var(--white);
}


.event-table {
  border-collapse: collapse;
  margin-left: 60px;
  margin-right: 60px;

  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    margin-right: 0;
  }

  @include ms {
    margin-left: 0;
    margin-right: 0;
  }
}


.event-table thead {
  background-color: var(--background);
}


.event-table th {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold); 
}


.event-th-event {
  width: 416px;
  text-align: start;
  margin-left: 10px;

  @include sm {
    width: 50px;
    margin-left: 0;
  }

  @include ms {
    width: 190px;
  }
}

.event-th-sold {
  @include sm {
    margin-left: 100px;
    width: 50px;
  }
}

.event-th-price {
  @include sm {
    width: 50px;
  }
}

.event-th-published {
  @include sm {
    display: none;
  }

  @include ms {
    display: none;
  }
}



.event-table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 130px;
  padding: 20px;

  @include sm {
    gap: 10px;
    width: 390px;
  }
}

.manage-event-td {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

}

.manage-event-td-image {
  @include sm {
    display: none;
  }

  @include ms {
    display: none;
  }
}

.manage-event-div {
  display: flex;
  flex-direction: column;
}

.manage-event-table-date {
  font-size: var(--heading-size-xs);
  margin-bottom: 14px;
  color: var(--dark-grey);
  white-space: nowrap;

  @include sm {
    font-size: var(--label-size-sm);
  }
}

.manage-event-table-title {
  font-size: var(--heading-size-xs);
  margin-bottom: 14px;

  @include sm {
    font-size: var(--label-size-sm);
    margin-right: 20px;
  }

}

.manage-event-table-author {
  font-size: var(--label-size-sm);
  color: var(--dark-grey);
}

.manage-event-table-sold {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);

  @include sm {
    font-size: var(--label-size-sm);
  }
}

.manage-event-table-price {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold); 

  @include sm {
    font-size: var(--label-size-sm);
  }
}

.manage-event-table-published {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold); 

  @include sm {
    display: none;
  }

  @include ms {
    display: none;
  }
}

.manage-vent-table-terms {
  font-size: var(--label-size-sm);
  color: var(--majorelle-blue);
  font-weight: var(--fw-medium);
}
.manage-vent-table-terms:hover {
  text-decoration: underline;
}

.manage-event-table-dots {
  position: relative;
  width: 167px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
    display: none;
  }

  @include sm {
    display: none;
  }
}

.manage-event-dots {
 width: 24px;
 height: 24px;

 @include sm {
  display: none;
}
}

.event-dots-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 30px;
  right: -40px;
  z-index: 1000;
  width: 190px;
  height: 102px;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--header);
} 

.event-dots-link {
  display: flex;
  align-items: center;
  width: 200px;
  height: 80px;
  font-size: var(--label-size-lg);
  padding-left: 12px;
  font-weight: var(--fw-regular);
  border: none;
  background-color: var(--header);
  color: var(--white);
}

.event-dots-link:hover {
  background-color: var(--background);
}