@import "./responsive.scss";

.footer {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--footer);

  @include sm {
    display: flex;
    gap: 15px;
  }
}

.footer-logo {
  width: 120px;
  margin-left: 72px;


  @include sm {
    display: none;
  }
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: var(--paragraph-size-sm);
  font-weight: var(--fw-regular);
  color: var(--white);
  margin-left: auto;
  margin-right: 72px;

  @include sm {
    white-space: nowrap;
    font-size: 12px;
  }
}

.footer-link:hover {
  color: var(--majorelle-blue);
}

