@import "./responsive.scss";


.manage-event-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 54px;
  margin-right: 80px;
  margin-left: 80px;

  @include sm {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 15px;
  }

  @include ms {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.manage-event-title {
  color: var(--white);
  font-size: var(--heading-size-xl);
  font-weight: var(--fw-bold);

  @include sm {
    font-size: var(--heading-size-sm);
  }
}

.manage-event-create-event-button {
  border-radius: 25px;
  width: 170px;
  height: 59px;
  background-color: var(--majorelle-blue);
  color: var(--white);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  border: none;
  cursor: pointer;
}

.manage-event-create-event-button:hover {
  background-color: transparent;
  border: 2px solid var(--majorelle-blue);
  color: var(--majorelle-blue);
}

.manage-event-input-container {
  background-color: var(--header);
}

.manage-event-input-second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  
  @include sm {
    justify-content: start;
    margin-left: 5px;
  }

  @include ms {
    justify-content: start;
    margin-left: 10px;
  }
}

.manage-events-search-events {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  width: 983px;
  height: 62px;
  border-radius: 25px;
  background-color: #241f4d;
  border: none;
  color: var(--light-grey);

  @include sm {
    width: 200px;
  }

  @include ms {
    width: 350px;
  }
}

.manage-events-organizer {
  width: 253px;
  height: 62px;
  border-radius: 25px;
  padding: 20px;
  background-color: #241f4d;
  color: var(--light-grey);
  border: none;

  @include sm {
    width: 100px;
  }

  @include ms {
    width: 100px;
  }
}

.event-table-container {
  display: flex;
  align-items: center;
  background-color: var(--header);
}

.manage-event-pagination-container {
  background-color: var(--header);
  display: flex;
  align-items: center;
  justify-content: center;

  @include sm {
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-top: 20px;
  }
}

.pagination-container {
  margin-top: 40px;
  margin-bottom: 54px;
  display: flex;
  gap: 10px;
}

.pagination-button {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  color: var(--majorelle-blue);
  background-color: transparent;
  border: 2px solid var(--majorelle-blue);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;
}

.pagination-button:hover {
  background-color: var(--majorelle-blue);
  color: var(--white);
}