@import "./responsive.scss";

.new-withdrawal-page-container {
  padding-top: 40px;
  background-color: var(--header);
  margin-top: 54px;
  height: 100vh;
  color: var(--white);
}

.new-withdrawal-container {
  display: flex;
  gap: 50px;
  padding-left: 80px;

  @include md {
   flex-direction: column; 
   align-items: center;
   justify-content: center;
  }

  @include sm {
    padding-left: 0;
    gap: 150px;
  }
}

.new-balance-container {
  width: 351px;
  height: 184px;
  background-color: var(--majorelle-blue);
  color: var(--white);
  border-radius: 35px;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}

.new-amount-container {
  width: 703px;
  height: 407px;
  border-radius: 35px;
  background-color: var(--card);

  @include sm {
    width: 340px;
  }
}

.amount-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  margin-left: 50px;
}

.amount-label {
  color: var(--white);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
}

.amount-input  {
  width: 603px;
  height: 62px;
  background-color: var(--footer);
  color: var(--dark-grey);
  border-radius: 35px;
  padding: 20px;
  font-size: var(--label-size-lg);
  border: none;

  @include sm {
    width: 260px;
  }
}

.bank-input {
  width: 603px;
  height: 62px;
  background-color: var(--footer);
  color: var(--dark-grey);
  border-radius: 35px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: var(--label-size-lg);
  border: none;

  @include sm {
    width: 260px;
    font-size: 10px;
  }
}

select {
  -webkit-appearance: none;
  appearance: none;
}


.withdrawal-button-container {
  margin-top: 30px;
  text-align: center;
}

.withdrawal-button {
  width: 603px;
  height: 59px;
  background-color: var(--majorelle-blue);
  color: var(--white);
  border: none;
  border-radius: 35px;
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  cursor: pointer;

  @include sm {
    width: 280px;
  }
}

.withdrawal-button:hover {
  border: 2px solid var(--majorelle-blue);
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}