@import "./responsive.scss";

.order-details-container {
  height: 100vh;
  margin-top: 54px;
  background-color: var(--header);
}

.order-details-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;

  @include sm {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.order-number {
  margin-top: 40px;
  margin-bottom: 47px;
  color: var(--white);
  font-size: var(--heading-size-xl);
  font-weight: var(--fw-bold);

  @include sm {
    font-size: var(--heading-size-sm);
    margin-left: 10px;
  }
}

.print-invoice {
  color: var(--white);
  background-color: var(--majorelle-blue);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  border-radius: 35px;
  width: 165px;
  height: 59px;
  border: none;
  cursor: pointer;

  @include sm {
    width: 120px;
    font-size: var(--label-size-sm);
  }
}

.print-invoice:hover {
  border: 2px solid var(--majorelle-blue);
  background: transparent;
}

.order-description-container {
  margin-left: 80px;
  padding-bottom: 40px;

  @include sm {
    margin-left: 20px;
  }
}

.order-description {
  color: var(--white);
  font-size: var(--heading-size-xs);

  @include sm {
    font-size: 15px;
  }
}

.order-details-event-table {
  border-collapse: collapse;
  margin-left: 25px;

  @include md {
    margin-left: 0;
  }

  @include ms {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    margin-right: 0;
  }
}

.order-details-event-table thead {
  background-color: var(--background);
}

.order-details-event-table th {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold); 

  @include sm {
    font-size: var(--label-size-sm);
    white-space: nowrap;
  }
}

.order-attendee {
  width: 500px;
  text-align: start;

  @include md {
    width: 350px;
  }

  @include ms {
    width: 350px;
  }

  @include sm {
    width: 150px;
  }
}

.order-time {
  width: 450px;
  text-align: start;

  @include md {
    width: 250px;
  }

  @include ms {
    width: 150px;
  }


  @include sm {
    width: 50px;
  }
}

.order-paid {
  width: 50px;
}

.order-details-event-table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 130px;
  padding: 20px;

  @include md {
    gap: 80px;
  }

  @include sm {
    gap: 35px;
  }
}

.order-details-event-table td {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
}