@import "./responsive.scss";


.order-table-container {
  color: var(--white);
}

.order-event-table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--header);
}

.orders-title-container {
  margin-top: 54px;
  margin-left: 80px;
  margin-bottom: 54px;

  @include sm {
    margin-left: 0;
    text-align: center;
  }
}

.orders-title {
  color: var(--white);
  font-size: var(--heading-size-xl);
  font-weight: var(--fw-bold);

  @include sm {
    font-size: var(--heading-size-sm);
  }
}

.orders-event-input-container {
  background-color: var(--header);
}

.orders-event-second-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  
  @include sm {
    justify-content: flex-start;
    margin-left: 5px;
  }
}

.orders-input {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  width: 983px;
  height: 62px;
  border-radius: 25px;
  background-color: #241f4d;
  border: none;
  color: var(--light-grey);

  @include ms {
    width: 400px;
  }
}

.orders-date-range-input {
  width: 253px;
  height: 62px;
  border-radius: 25px;
  padding: 20px;
  background-color: #241f4d;
  color: var(--light-grey);
  border: none;
}

.order-event-table {
  border-collapse: collapse;
  margin-left: 25px;
  
  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    margin-right: 0;
  }
}

.order-event-table thead {
  background-color: var(--background);
}



.order-event-table th {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold); 

  @include sm {
    font-size: var(--label-size-sm);
    white-space: nowrap;
  }
}

.order-event-table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 130px;
  padding: 20px;

  @include md {
    gap: 80px;
  }

  @include sm {
    gap: 35px;
  }
}

.order-event-th-orderId {
  @include sm {
    display: none;
  }
  
  @include ms {
    display: none;
  }
}

.order-event-th-event {
  text-align: center;
  width: 150px;

  @include sm {
    width: 80px;
  }
}

.order-event-th-buyer {
  margin-left: 35px;

  @include sm {
    display: none;
  }
}

.order-event-th-date {
  width: 150px;

  @include sm {
    width: 100px;
  }

  @include ms {
    width: 100px;
  }
}

.order-event-th-dots {
  width: 100px;

  @include sm {
   display: none;
  }

  @include ms {
    display: none;
  }
}

.order-orderId {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  color: var(--majorelle-blue);

  @include sm {
    display: none;
  }

  @include ms {
    display: none;
  }
}

.order-event-td-event {
  font-size: var(--label-size-medium);
  font-weight: var(--fw-semi-bold);
  white-space: nowrap;

  @include sm {
    font-size: var(--label-size-sm);
  }
}

.order-event-td-buyer {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  white-space: nowrap;

  @include sm {
    display: none;
  }
}

.order-event-td-date {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
  white-space: nowrap;

  @include sm {
    font-size: var(--label-size-sm);
  }
}


.order-event-td {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);

  @include sm {
    font-size: var(--label-size-sm);
  }
}

.order-event-table-dots {
  position: relative;
  @include sm {
    display: none;
  }

  @include ms {
    display: none;
  }
}

.order-event-dots {
  @include sm {
    display: none;
  }

  @include ms {
    display: none;
  }
}

.user-no-orders-container {
  background-color: var(--header);
}

.user-no-orders-title-container {
  padding-top: 199px;
  padding-bottom: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--white);

  @include sm {
    padding-top: 50px;
    margin-left: 15px;
  }
}

.user-no-orders-title {
  font-size: var(--heading-size-medium);
  font-weight: var(--fw-bold);
}

.user-no-orders-description {
  font-size: var(--paragraph-size-sm);
  font-weight: var(--fw-regular);
}

.dots-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  top: 20px;
  right: -40px;
  z-index: 1000;
  width: 176px;
  height: 102px;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--header);
}

.dots-link {
  display: flex;
  align-items: center;
  width: 176px;
  height: 51px;
  font-size: var(--label-size-lg);
  padding-left: 12px;
  font-weight: var(--fw-regular);
}

.dots-link:hover {
  background-color: var(--background);
}