@import "./responsive.scss";


.withdrawal-title-container {
  margin-top: 54px;
  margin-left: 80px;
  

  @include sm {
    margin-left: 0;
    text-align: center;
  }
}


.withdrawal-title {
  color: var(--white);
  font-size: var(--heading-size-xl);
  font-weight: var(--fw-bold);

  @include sm {
    font-size: var(--heading-size-sm);
  }
}

.withdrawal-page-container {
  padding-top: 40px;
  margin-top: 54px;
  background-color: var(--header);
  padding-bottom: 40px;
}

.balance-container {
  width: 569px;
  height: 184px;
  background-color: var(--majorelle-blue);
  color: var(--white);
  margin-left: 80px;
  border-radius: 35px;
  padding-top: 40px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;

  @include sm {
    margin-left: 0;
    width: 420px;
  }
}


.my-balance {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-regular);
}

.withdrawal-balance {
  font-size: var(--heading-size-xl);
  font-weight: var(--fw-semi-bold);
}

.withdrawal-table-container {
  color: var(--white);
}


.withdrawal-table {
  border-collapse: collapse;
  margin-left: 25px;
  
  @include md {
    margin-left: 0;
  }

  @include sm {
    margin-left: 0;
    margin-right: 0;
  }
}

.withdrawal-table tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.withdrawal-table thead {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.withdrawal-table th {
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold); 

  @include sm {
    font-size: var(--label-size-sm);
    white-space: nowrap;
  }
}

.withdrawal-table tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 110px;
  padding: 20px;

  @include md {
    gap: 80px;
  }

  @include sm {
    gap: 35px;
  }
}


.withdrawal-th-id {
  @include sm {
    display: none;
  }
}

.withdrawal-date {
  width: 150px;

  @include sm {
    width: 100px;
  }
}

.withdrawal-method {
  width: 210px;

  @include sm {
    width: 100px;
  }
}

.withdrawal-status {
  @include sm {
    display: none;
  }
}

.withdrawal-dots {
  @include sm {
    display: none;
  }
}

.withdrawal-id {
  color: var(--majorelle-blue);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);

  @include sm {
    display: none;
  }
}

.withdrawal-td {
  color: var(--white);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);
}

.withdrawal-td-status {
  width: fit-content;
  color: var(--white);
  font-size: var(--label-size-lg);
  font-weight: var(--fw-semi-bold);

  @include sm {
    display: none;
  }
}

.withdrawal-table-dots-container {
  position: relative;
  @include sm {
    display: none;
  }
}

.withdrawal-table-dots {
  @include sm {
    display: none;
  }
}